[submodule "aioxnat"]
	path = aioxnat
	url = https://github.com/WilkinsonK/aioxnat.git
[submodule "tasxnat"]
	path = tasxnat
	url = https://github.com/WilkinsonK/tasxnat.git
[submodule "xmlxnat"]
	path = xmlxnat
	url = https://github.com/WilkinsonK/xmlxnat.git
